@model IEnumerable<getajob.Models.Listing>

@{
    ViewBag.Title = "Index";
}


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var listing in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="@Url.Content("~/Content/Images/download.jpg")" class="bd-placeholder-img card-img-top" height="225"/>

                        <div class="card-body">
                            <h4>@listing.ListingCompany</h4>
                            <h3>@listing.ListingName</h3>

                            <p class="card-text">
                                @if (listing.listingText.Length > 50)
                                {
                                    @(listing.listingText.Substring(0, 47) + "...")
                                }
                                else
                                {
                                    @(listing.listingText)
                                }
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/Listings/Details2/@(listing.ID)" class="btn btn-sm btn-outline-secondary" role="button">View</a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>